# Custom building terrain requirement triggers

scripted_triggers = {
    building_scriptorium_requirement_terrain = {
        OR = {
            terrain = farmland
            terrain = forest
            terrain = hills
            terrain = plains
        }
    }

    building_wind_furnace_requirement_terrain = {
        OR = {
            terrain = desert
            terrain = desert_mountains
            terrain = drylands
            terrain = steppe
        }
    }
}
